@section SPAViews {
    @*@Html.Partial("_Home")*@
    
    <div id="react-container"></div>
    

}
@section Scripts{
    <script type="text/javascript" src="~/Content/bundle.js"></script>
}