@import "globals";

html,
body,
div.body-content,
div#react-container,
div.app {
  height: 100%;
  padding: 0;
  margin: 0;
}

// body {
//   font-size: 55%;
// }

h1, label {
  margin: 0
}

div.app {
  background-image: url('/Content/assets/img/rowdy.jpg');
  background-size: cover;
  background-position: center;
}

div.whoops-404 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}